*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.right-bar{
    width: 15vw;
    height: 100vh;
}
.right-bar nav ul{
    
}
.right-bar nav ul li{
    padding: 15px 15px;
}
.right-bar nav ul li:hover{
    background: #f2f3f3;
}
.right-bar nav ul li a{
    color: #909fa5;
    font-size: 18px;
}
.right-bar nav ul li a i{
    margin-right: 10px;
}
.logo-box-image{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.logo-box h1{
    color: #484847;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 100;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.fa-graduation-cap{
    color: #ed9720;
}
.fa-file-alt{
    color: #6ad2fa;
}
.fa-youtube{
    color: #e62e2d;
}
.fa-user{
    color: #4686f7;
}
.fa-receipt{
    color: #6fe506;
}
.fa-database{
    color: #51ab5a;
}
.fa-long-arrow-alt-right{
    color: #3366c0;
}
.main-body{
    display: flex;
    overflow: hidden;
    max-height: 100vh;
}
.main-left{
    flex: 1;
    background: #e6eeee;
    overflow-y: auto;
}
.main-left-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-left-image{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 50%; 
}
.main-left-intro{
    padding-top: 30px;
    text-align: justify;
}
.main-left-intro h1{
    color: #0a0080;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 10px;
}
.main-left-intro h3{
    font-size: 16px;
    text-indent: 20px;
    font-weight: 300;
    color: #3c403e;
    margin-bottom: 30px;
}
.main-left ul li{
    margin-bottom: 15px;
}

.main-left ul li a{
    font-size: 18px;
    color: #57acee; 
}
.main-left ul li a i{
    margin-right: 20px;
    font-size: 32px; 
    transform: translateY(8px);
}
.fa-phone-alt{
    color: #f3c117;
    
}
.fa-envelope{
    color: #e74f43;
}
.fa-linkedin{
    color: #3467c2;
}
.fa-twitter{
    color: #57acee;
}
.fa-github{
    color: black;
}
.about-headings{
    height: 80px;
    background: #4686f7;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.about-headings h1{
    padding-left: 20px;
    color: white;
    font-weight: 300;
    font-size: 32px;
}
.about-text{
    width: 70vw;
    margin: 0 auto;
}
.about-text p{
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 30px;
    color: #333333;
}
.kodobe-text{
    background: white;
    margin-top: 50px;
}
.kodobe-header{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}
.kodobe-image img{
    width: 200px;
    height: 100px;
    padding-left: 20px;
}
.kodobe{
    padding-bottom: 30px;
}
.kodobe-header-text{
    padding-top: 25px;
    padding-left: 40px;
}
.kodobe-header-text h2{
    font-weight: 300;
    font-size: 24px;
    color: #333333;
}
.kodobe-header-text h3{
    font-weight: 300;
    color: #333333;
    opacity: .8;
    margin-top: 8px;
}
.kodobe ul{
    padding-left: 30px;
    padding-top: 30px;
}
.kodobe ul li{
    list-style-type: disc;
    color: #333333;
    line-height: 30px;
    font-size: 18px;
}
aside{
    font-size: 18px;
    padding-left: 20px;
    padding-top: 20px;
    color: #333333;
    opacity: .6;
}
.project-box-one img{
    width: 460px;
}
.pro{
    margin-top: 40px;
}
.box-content{
    background: white;
    width: 460px;
    padding: 20px;
    margin-top: -5px;
}
.box-content h3{
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 15px;
}
.box-content p{
    font-size: 16px;
    line-height: 20px;
    color: #909fa5;
    margin-bottom: 40px;
}
.box-buttons{
    display: flex;
    justify-content: space-between;
}
.box-buttons button{
    background: #dbdbdb;
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: #333333;
}
.fa-binoculars{
    color: #eb8178;
    margin-right: 20px;
}
.box-buttons span{
    color: #386fc8;
    font-size: 18px;
    font-weight: 900;
}
.lin{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.sub-list img{
    width: 100px;
}
.sub-list p{
    font-size: 16px;
    margin-bottom: 0;
}
.skills{
    background: white;
    padding: 20px 0px;
    margin-bottom: 30px;
}
.skills h2{
    line-height: 32px;
    font-weight: 100;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 20px;
    padding-bottom: 20px;
}
.skill-list{
    display: flex;
    
    text-align: center;
    align-items: center;
    padding: 30px;
}
.skill-list img{
    margin-right: 80px;
}
.skill-list p{
    margin-right: 80px;
}
.blog-box-image{
    width: 460px;
    height: 300px;
    background: url("/images/backend1.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-box-image2{
    width: 460px;
    height: 300px;
    background: url("/images/backend2.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-box-image3{
    width: 460px;
    height: 300px;
    background: url("/images/backend3.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-box-image4{
    width: 460px;
    height: 300px;
    background: url("/images/backend4.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-box-image5{
    width: 460px;
    height: 300px;
    background: url("/images/backend5.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-box-image6{
    width: 460px;
    height: 300px;
    background: url("/images/backend6.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-box-text{
    background: white;
    width: 460px;
    padding: 30px 20px;
    margin-bottom: 30px;
}
.blog-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 30px;
}
.edu-box{
    background: white;
    padding: 40px 30px;
    margin-bottom: 30px;
    color: #333333;
}
.edu-box li{
    list-style: disc;
}
.edu-box h2{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: -15px;
    
}
.edu-box ul{
    padding-left: 40px;
}
.edu-box p{
    font-size: 16px;
    opacity: .7;
}
header{
    display: none;
}
@media screen and (max-width:800px){
    .right-bar{
        display: none;
    }
    header{
        display: flex;
        background-color: white;
       align-items: center;
       position: fixed;
       width: 100%;
       top: 0;
       left: 0;
      
    }
    .bars{
        padding-left: 20px;
    }
    .bar{
        width: 25px;
        height: 3px;
        background: #4686f7;
        margin: 5px 0px;
    }
    .header-text{
        margin-left: 70px;
        padding: 10px 0;
        text-align: center;
    }
    .header-text h2{
        font-size: 20px;
        font-weight: 300;
    }
    .header-text p{
        font-size: 12px;
        color: #333333;
        opacity: .7;
    }
    .main-left-image{
        width: 200px;
        height: 200px; 
        margin-top: 60px;
    }
    .main-left-intro h1{
        font-size: 24px;
    }
    .main-left-intro h3{
        font-size: 12px;
        text-indent: 10px;
        font-weight: 600;
        color: #0d0e0e;
        margin-bottom: 20px;
    }
    .main-left ul li{
        margin-bottom: 10px;
    }
    .main-left ul{
        margin-bottom: 40px;
    }
    .main-left ul li a{
        font-size: 14px;
    }
    .main-left ul li a i{
        margin-right: 20px;
        font-size: 16px; 
        transform: translateY(0px);
    }
    .about-text{
        width: 90vw;
        margin: 0 auto;
    }
    .about-text p{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
        color: #333333;
    }
    .kodobe-header{
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #e6e6e6;
    }
    .kodobe-image img{
        width: 100px;
        height: 50px;
        padding-left: 20px;
    }
    .kodobe-header-text{
        padding-top: 0px;
        padding-left: 20px;
    }
    .kodobe-header-text h2{
        font-size: 18px;
    }
    .kodobe-header-text h3{
        font-weight: 300;
        color: #333333;
        opacity: .8;
        margin-top: 3px;
        font-size: 14px;
    }
    .kodobe-text{
        margin-bottom: 30px;
    }
    .kodobe ul{
        padding-left: 30px;
        padding-top: 30px;
    }
    .kodobe ul li{
        font-size: 14px;
    }
    aside{
        font-size: 14px;
    }
    .project-box-one img{
        width: 100%;
    }
    .box-content{
        width: 100%;
    }
    .lin{
        display: block;
        margin-bottom: 30px;
     }
     .project-box-one{
        margin-bottom: 20px;
     }
     .box-content h3{
        font-size: 16px;
    }
    .box-content p{
        font-size: 12px;
    }
    .sub-list{
       margin: 10px 0;
    }
    .sub-list img{
        width: 50px;
       
    }
    .skill-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    .sub-list p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .skills{
        margin-bottom: 30px;
    }
    .edu-box h2{
        font-weight: 300;
        font-size: 12px;
        margin-bottom: 1px;
        
    }
    .edu-box ul{
        padding-left: 40px;
    }
    .edu-box ul li{
        font-size: 12px;
    }
    .edu-box p{
        font-size: 12px;
        line-height: ;
        opacity: .7;
    }
    .blog-box-image{
        width: 100%;
        height: 200px;
    }
    .blog-box-image2{
        width: 100%;
        height: 200px;
    }
    .blog-box-image3{
        width: 100%;
        height: 200px;
    }
    .blog-box-image4{
        width: 100%;
        height: 200px;
    }
    .blog-box-image5{
        width: 100%;
        height: 200px;
    }
    .blog-box-image6{
        width: 100%;
        height: 200px;
    }
    .blog-box-text{
        width: 100%;
        padding: 30px 20px;
    }
    .blog-boxes{
        display: block;
     
    }
}